doctype html
html
  head
  
    title Account Created
    link(rel="stylesheet", href="/css/account_created.css")

  body

    h1 Account Successfully Created!
    h3 Welcome, #{username}!
    a(href="/auth1/login") Go to Login Page