doctype html
html
  head

    title Login
    link(rel="stylesheet", href="/css/login.css")
  body
  
    h1 Log in
    if error
      p(style="color:red") #{error}

    form(action='/auth1/login', method='POST')

      br
      label(for='email') Email:
      input(type='email', name='email', id='email' required)
      br
      br

      label(for='password') Password:
      input(type='password', name='password', id='password' required)
      br
      br

      button(type='submit') Log In
      br
      br